<div class="container">
  <% provide(:title, "Log in") %>

  <h1>Login</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :name %>

        <%= f.text_field :name, class: 'form-control' %>
        <div style="padding-top: 10px">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div style="padding-top: 10px">
          <% if flash[:notice] %>
            <div class="notice" style="color: red; padding-bottom: 10px"><%= flash[:notice] %></div>
          <% end %>
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



